<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <welcome-file-list>
    <welcome-file>pages/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>UsersServlet</description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/servlet/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>LoginServlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>EmployeeServlet</description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.servlet.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/servlet/EmployeeServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>RechargeServlet</description>
    <display-name>RechargeServlet</display-name>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>com.servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/servlet/RechargeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>SpendServlet</description>
    <display-name>SpendServlet</display-name>
    <servlet-name>SpendServlet</servlet-name>
    <servlet-class>com.servlet.SpendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpendServlet</servlet-name>
    <url-pattern>/servlet/SpendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SiteServlet</description>
    <display-name>SiteServlet</display-name>
    <servlet-name>SiteServlet</servlet-name>
    <servlet-class>com.servlet.SiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteServlet</servlet-name>
    <url-pattern>/servlet/SiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>SorderServlet</description>
    <display-name>SorderServlet</display-name>
    <servlet-name>SorderServlet</servlet-name>
    <servlet-class>com.servlet.SorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SorderServlet</servlet-name>
    <url-pattern>/servlet/SorderServlet</url-pattern>
  </servlet-mapping>
</web-app>
